* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
}

#part1 {
    height: 100%;
    width: 35%;
    background-color: rgba(98, 38, 114, 0.662);
}

#overlay {
    height: inherit;
    width: 100%;
    background-color: rgba(113, 1, 127, 0.358);
}

#part2 {
    height: 100%;
    width: 68%;
    background-image: url('https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bW9kZWxzfGVufDB8fDB8fHww');
    background-position: center;
    background-size: cover;

}

#part3 {
    height: 100%;
    width: 7%;
    background-color: rgb(23, 17, 111);
}

#text-div {
    position: absolute;
    width: 28%;
    left: 3%;
    top: 50%;
    transform: translate(0, -50%);
}

#text-div h1 {
    font-size: 80px;
    font-weight: 900;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    line-height: 75px;
    letter-spacing: 2px;
    color: rgba(255, 51, 150, 0.513);
    -webkit-text-stroke-width:5px;
    -webkit-text-stroke-color:rgb(71, 0, 164);
    text-shadow:  7px 2px 5px rgb(42, 37, 42);
}
#small-img-div{
    height: 40vh;
    width:30vh;
    border-radius: 20px;
    overflow: hidden;
    top:50%;
    right:5%;
    transform: translate(0, -50%);
    background-color: red;
    background-image: url('https://images.unsplash.com/photo-1611601322175-ef8ec8c85f01?q=80&w=464&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position:4px 5px;
    background-size: cover;
    
    position: absolute;
}


#small-img-div > #overlay{
    background-color: rgba(181, 3, 130, 0.346);
}
#vertical-text{
    position:absolute;
    transform: rotate(90deg);
    right:-54%;
    top:-3%;
    transform-origin: 0% 0%;
    /* transform: translateY(180deg); */
}
#vertical-text h1{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
    color: transparent;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width:2px;
    -webkit-text-stroke-color:rgb(215, 73, 147);
    letter-spacing: 12px;
    
    text-shadow:  -22px -22px 5px rgb(82, 54, 118);
}
#nav{
    position: absolute;
    width: 550px;
top:5%;
left:5%;
    display: flex;
    align-items: center;
justify-content: space-between;
gap:70px;
}
#nav img{
    height: 70px;
    mix-blend-mode:multiply;
    border: 3px solid rgb(114, 0, 95);
    border-radius: 50%;
    box-shadow: 1px 1px 55px rgb(255, 14, 54);

}
#nav h5{
    color:rgb(249, 43, 201);
    letter-spacing: 5px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(67, 2, 76) ;
    font-size: 35px;
    text-transform:uppercase;
    text-decoration: dotted underline;
}
#nav h5 span{
    color: rgb(57, 8, 63);
    text-decoration: double underline;
    
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:rgb(247, 158, 227);;
}
   